@use '../../styles/partials/variables' as *;
.hero__video{
    width: 100%;
    height: 30%;
    object-fit: cover;
}
.hero__title{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    border-bottom: 1px solid $Mercury;
    color: $BrainFlix-Black;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.video__stats-container{
    display: flex;
    justify-content: space-between;
    color: $Silver;
    border-bottom: 1px solid $Mercury;
    padding-top: 1rem;
    padding-right: 3rem;
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    
=======
    @include tablet{
        padding-right: 0;
    }
>>>>>>> Stashed changes
=======
    @include tablet{
        padding-right: 0;
    }
>>>>>>> Stashed changes
}
.video__description{
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.video__box{
    display: flex;
    padding-bottom: 1rem;
    justify-content: space-between;
        @include tablet{
            margin-right: 1.5rem;
        }
}
.video__stats{
    padding-bottom: 1rem;
    @include tablet{
        margin-right: 1.5rem;
    }
}
.video__channel{
    font-weight: 700;
    color: $BrainFlix-Black;
}
.comment__avatar{
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    object-fit: cover;
    margin-top: 1.3125rem;
}
.comment__container{
    display: flex;
    justify-content: space-between;
}
.box{
    &__comment-input{
        height: 12vh;
        width: 100%;
        background-color: $Alabaster;
        border-radius: 0.25rem;
        border: $Mercury solid .0625rem;
    }
    &__comment-input:focus {
    outline: none;
    border: .0625rem solid $BrainFlix-DarkBlack;
    }
}
.comment__button{
    background-color: $BrainFlix-Blue;
    color: $White;
    height: 2.5rem;
    border-radius: .25rem;
    width: 100%;
    border: transparent;
    color: #FFFFFF;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    font-weight: 700;
    margin-top: 1rem;
}
.comment__subtitle{
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: #AFAFAF;
}
.comment__image{
    width: 27%;
}
.video__comments{
    font-weight: 700;
    color: $BrainFlix-Black;
    font-size: .8125rem;
    line-height: 1.125rem;
    padding-bottom: 1rem;
}
