@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
.hero__video{
    width: 100%;
    height: 30vh;
    object-fit: cover;
        @include tablet{
            height: 57vh;
            width: 90%;
            display: block;
            margin: auto;
        }
        @include desktop{
            height: 92vh;
            width: 65%;
        }
    }
.hero__background{
    background-color: black;
}